*{
    margin: 0;
    padding: 0;
  }
  html{
    background-image: url("background.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    height: 100vh;
  }
.container{
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 95px;
}
nav{
    background: linear-gradient(340deg,#ec38bc 50%, #fdeff9 140%);
   
}
footer{
    justify-content: center;
    text-align: center;
    text-decoration: solid;
    color: whitesmoke;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}